<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YAWC</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>About</h1>
        <p>This is a simple web application written in Django that's counting words in the given text.</p>
    </div>
    <footer>
        <ul>
            <li><a href="mailto:arjaz@protonmail.com">email</a></li>
            <li><a href="github.com/arjaz">github.com/arjaz</a></li>
        </ul>
    </footer>
    
</body>
</html>
